

 /**************************
*
*	GENERAL
*
**************************/


.slider_wrapper {
	position:relative;
	overflow:hidden;
	z-index: 90;
}

.camera_wrap {
	position: relative;
	display: none;
	z-index: 900;
	margin-bottom: 0 !important;
}


.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
}

.camera_wrap img {
	max-width: 100000px;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
    background: url(../images/blank.gif);
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}

.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_commands > .camera_stop {
	display: none;	
}


.slide_wrapper .camera_prev{
	background: url(../images/prevnext_bg.png) 0 0 repeat;
	width: 70px;	
	top: 0 !important;
	height: auto !important;
	bottom: 0;
	left: -80px;
	display: block;
	position: absolute;
	opacity: 1 !important;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.slide_wrapper .camera_prev>span {
	background: url(../images/prev.png) center 0 no-repeat;
	top: 50%;
		
	margin-top: -10px;
	position: absolute;
	display: block;
	height: 20px;
	left: 0;
	right: 0;
}

.slide_wrapper .camera_next>span {
	background: url(../images/next.png) center 0 no-repeat;
	top: 50%;
	margin-top: -10px;
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	height: 20px;
}



.slide_wrapper .camera_next {
	background: url(../images/prevnext_bg.png) 0 0 repeat;
	width: 70px;	
	top: 0  !important;
	bottom: 0;
	height: auto !important;

	right: -80px;
	display: block;
	position: absolute;
	opacity: 1 !important;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}


.camera_thumbs_cont > div {
	float: left;
	width: 100%;
}
.camera_thumbs_cont ul {
	overflow: hidden;
	padding: 3px 4px 8px;
	position: relative;
	text-align: center;
}
.camera_thumbs_cont ul li {
	display: inline;
	padding: 0 4px;
}
.camera_thumbs_cont ul li > img {
	border: 1px solid;
	cursor: pointer;
	margin-top: 5px;
	vertical-align:bottom;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}




/**************************
*
*	COLORS & SKINS
*
**************************/
/*

.camera_pag  {
	position:absolute;
	bottom: -34px;
	left: 410px;
	z-index: 999 !important;
	overflow: hidden;
}

.camera_pag_ul {

}

.camera_pag ul li {
	float:left;
	display:inline-block;
	width:17px;
	height: 17px;
}

.camera_pag ul li+li {
	margin-left: 8px;
}


.camera_pag ul li span {
	display:block;
	height: 17px;
	width: 17px;
	background:url(../images/pagination.png) right 0 no-repeat;
			overflow: hidden;
			text-indent: -999px;
			cursor: pointer;
}

.camera_pag ul li:hover span, .camera_pag ul li.cameracurrent span {
	background-position:  left 0;

}

*/		

.camera_prev{background: url(../images/prev.png) 0 0 no-repeat; 
	 width: 10px;
	 height: 19px; 
	 position:absolute; 
	 top: 495px; 
	 left: 107px; 
	 z-index:1000; 
	 display:block;
	cursor: pointer;
	 }
.camera_prev:hover {background-position:0 bottom;}
.camera_next {
	background: url(../images/next.png) 0 0 repeat; 
	width: 10px; 
	height: 19px; 
	position:absolute; 
	top: 495px; 
	right: 84px; 
	z-index:1000; 
	display:block;
	cursor: pointer;
	}
.camera_next:hover {background-position:0 bottom;}


.banner{width:auto;
	background: url(../images/bg-banner.png) 0 0 repeat;
        text-align:center;
		position:absolute;
		bottom: 0;
		right: 0;
		text-transform:uppercase;
		z-index:15; 
		height: 83px;
		left:0; 
		line-height: 30px;
		color:#fefad5 ; 
		font-size: 24px;
		font-family: 'Open Sans Condensed';
		letter-spacing:-1px;
		}
	.inner-banner{padding:27px 0 0 25px;}