/****Form****/

#form {
	padding-top: 0px;
	position: relative;
	padding-right: 0px;
}

#form input {
   border: none;
    background: #ffffff;
	 padding: 6px 11px 7px;
	width: 100%;
	border: 1px solid #e2dcc8;
	height: 35px;
	float:left;
	font:13px/22px Arial, Helvetica, sans-serif;
	color:#83868a;	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

#form textarea {
	height: 325px;
	overflow: auto;
     border: none;
    background: #ffffff;
	 padding: 5px 11px 7px;
	width: 100%;
	border: 1px solid #e2dcc8;
	position: relative;
	resize:none;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float:left;
	font:13px/22px Arial, Helvetica, sans-serif;
	color:#83868a;
	margin: 0;
	
}

#form label {
	position:relative;
	display: block;
	min-height: 45px;
	width: 100%;
	float: left;
	clear: left;
}




#form .error, #form .empty {
	color: #A73831;
	display: none;
	font-size: 11px;
	line-height:14px;
	width:auto;
	position: absolute;
	z-index: 999;
	right: 5px;
	top: 9px;
	float:left;
}



#form .error-empty {
	display:none;
	float:left;
}

.btns {
	position:relative;
	text-align: right;
	padding-top: 27px;

}


 .btns a.button {
	margin: 0 0px 0 5px  !important;

    cursor: pointer;

}



#form .message {
	width: 100%;

}




.message br {
	height: 0;
	line-height: 0;
}

#form .success {
	display: none;
	position: absolute;
	width: 100%;
	border: 1px solid #e2dcc8;
    background: #ffffff;
	text-align: center;
	padding: 20px 10px;
	z-index: 999;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}



.success_wrapper {
	position: relative;	
}

@media only screen and (max-width: 995px) {



#form label {
	float: none !important;	
	width: 100%;
}

#form input {
	margin-bottom: 10px;
}

#form label.message {
	width: 100% !important;
}

#form .success {
	width: 100%;
}

.btns {
	padding-right: 0;
}

#form label.email {
	width: 100%;
	margin: 0;
}

  .dl1 span {
  	width: auto !important;
  }


}

@media only screen and (max-width: 767px) {
  .map {
	margin-bottom: 25px;
}
  .btns {
		padding-bottom: 0;  
  }

.dl1 {
	margin-bottom: 30px;
}

  #form textarea {
		height: 300px !important;  
  }
  
}
@media only screen and (max-width: 479px) {
 
  #form textarea {
		height: 200px !important;  
  }
}